<footer>
    <div class="footer">
    <div class="moreInformations">
        <div class="links">
            <span>Liens utiles:</span><br><br>
            <ul>
                <li><a href="#" class="activeLink">Accueil</a></li>
                <li><a href="./bergerie.php">Bergerie</a></li>
                <li><a href="./porcherie.php">Porcherie</a></li>
                <li><a href="./poulailler.php">Poulailler</a></li>
                <li><a href="./nouveau_client.php">s'enregistrer</a></li><br><br>
                <li><a href="#">allez plus haut</a></li>
            </ul>
        </div>
        <div class="contactUs">
            <span>Nous contacter:</span><br><br>
            <ul class="contact">
                <li>INFORMATIQUE LICENCE 2 - UY1</li>
                <li>MAYOGUE TADJUIDJE PAULETTE 18T2647</li>
                <li>mayogue.paulette@facsciences.cm</li>
                <li>678 51 38 74 / 690 09 50 04</li>
                <li>TP-INF2064 Dr. MESSI THOMAS</li>
            </ul>
        </div>
    </div>
    <div class="copyright"><span>@copyright-paulette-inf2064 &nbsp; tout droit reservé</span></div>
</div>

</footer>