
	* {
        border: 0;
        margin: 0;
        padding: 0;
    }
    
    /*******le content div***/
    .content {
        background-color: #fff;
    }
    .content1 {
        background-color: rgb(247, 51, 181);
        width: 20vw;
        height: 10px;
        margin: 10px auto;
        bottom: 60px;
    }
    .content2 {
        /* background-color: rgb(23, 152, 212); */
        height: 20vh;
    }
    .welcome {
        text-align: center;
        background-color: rgb(241, 236, 153);
        padding: 20px;
    }
    .content3 {
        background-color: rgb(170, 241, 153);
        height: 70vh;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    
    /* .content3 > div { */
    .box { 
        width: 25%;
        height: 90%;
        /* background-color: #f1f527; */
        padding: 10px;
        /* padding-left: 10px;
        padding-right: 10px; */
        box-shadow: 1px 1px 5px 5px rgba(255,255,255,0.7);
    }
    
    /***image dans les box**/
    
    .box > img {
        width: 100%;
        height: 40%;
        border-radius: 50%;
    }
    .comment {
        height: 40%;
        /* background-color: rgb(160, 12, 37); */
    }
    .seeMore {
        background-color: rgb(25, 160, 12);
        width: 25%;
        text-align: center;
        height: 5%;
        margin: 10px;
        border: 1px solid #191919;
    }
    
    /*laptop  lg */
    @media only screen and (min-width: 992px) {
       
    }
    /*tablette*/
    @media only screen and (max-width: 992px) and (min-width: 576px) {  
        body {
            font-size: 0.6em;
        }
    }
    /*telephone*/
    @media only screen and (max-width: 576px) {  
        body {
            font-size: 0.6em;
        }
        /***image***/
        .photo > img {
            height: 50vh;
            /* visibility: hidden; */
        }
        .content3 > div {
            width: 30%;
            height: 90%;
        }
        .box > img {
            width: 100%;
            height: 30%;
            border-radius: 50%;
        }
    }