.mysearch-dark {
    width: 80%;
    padding:5px 0;
    margin: 20px 100px;
    background-color: red;

    color:#282d32;
    border: 1px solid #f1f1f1;    
    background: #fff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  .mysearch-dark .img {
    display: inline-block;
    width: 30%;
    /*
    background-color: yellow;
    */
  }
  
  .mysearch-dark img {
    width: 90%;
    height: 90%;
    margin: auto 2%;
  }
  
  .mysearch-dark .mycard-body {
    display: inline-block;
    /*
    background-color: pink;*/
    height: 90%;
    width: 60%;
  }

  .mycard-body .suspend {
    background-color: rgba(90, 76, 76, 0.801);
  }

  .mycard-body .delete {
    background-color: #282d32;
    margin-left: 10px;
  }
  
  /*
  .mycard-body .suspend:hover {
    background-color: transparent;
  }

  .mycard-body .delete:hover {
    background-color: red;
  }
*/
  .mysearch-dark .pasDePhoto {		
    /*content: url(../../plugins/icons/person-circle.svg);*/
    content: url(../../plugins/icons/person-circle.svg);
    width: 30%;
    height: 30%;
    margin: 0 auto;
  
  }

  .modal-header .attention {
    color: red;
    text-align: center;
  }

  .modal-body .msg{
    font-style: italic;
    color: red;
  }